body {
    font-family: 'Libre Baskerville', serif;
}
section {
    background-color: #eddcd9;
}
.hero {
    background-color: #f2ebe9;
    height: 100vh;
    color: #de5499;
    font-size: 40px;
}
footer {
    padding: 80px;
    background-color: #264143;
    color:#eddcd9;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}
ul.show {
    display: block;
}
li {
    text-decoration: none;
}
h1{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2{
    color: #264143;
    font-size: 50px;
}
h3 {
    color: #f2ebe9;
}
#featured-project{
    background-color: #de5499;
}
p{
    margin: 0;
}

.hero-area{
    display:flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    color:#264143;
    margin-left: 80px;
    margin-bottom: 100px;
    
}
.hero-image{
    margin-bottom: 100px;
}
.button{
    width: 200px;
    height: 40px;
    color: #de5499;
    border: 1px solid #de5499;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    margin-top: 20px;
}
.button:hover {
    background-color: #de5499;
    color:#f2ebe9;

}
.button:active {
    background-color: #f2ebe9;
    color:#de5499;
}
.social-media{
    margin-top: 10px;
}
.hello{
    height: 500px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 25%;
    
}
.social{
    margin:20px;
}
.sub-section {
    display: flex;
    justify-content: space-between;
    padding: 80px
}
.info{
    margin-right: 20px;
}
.sub-section-alternative {
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}
.headshot-container{
    display: flex;
    align-items: center;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
.project-card{
    max-width: 100%;
    padding: 10px;
    background-color: #e99f4c;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: grid;
    place-items: center;
}

.project-card1{
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}
.project-card2{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}
.project-card3{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.project-card img{
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    border-radius: 8px;
}
.project-card p{
    /* margin-top: 10px; */
    color: #f2ebe9;
    font-size: 15;
    text-align: center;
}
.project-link{
    text-decoration: none;
    color:#de5499;
}
.project-card hr {
    border: none;
    height: 1px;
    width: 200px;
    background-color: #eddcd9;
}
.project-card h3 {
    max-width: 100%;
}
a{
    text-decoration: none;
    color:#de5499;
}
#footer-font-color{
    color:#eddcd9;
}
.social-media-bottom{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.hamburger {
    display: none;
}
.hamburger:focus{
    outline: 0;
}
@media only screen and (max-width: 1000px){
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color:#e99f4c;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    ul{
        display: none;
        background-color: #eddcd9;
        margin: 0px;
    }
    ul.show {
        display: block;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #eddcd9;
    }
    .social-media{
        display: none;
    }
}
