body {
    font-family: 'Libre Baskerville', serif;
}
section {
    background-color: #eddcd9;
}
footer {
    padding: 80px;
    background-color: #264143;
    color:#eddcd9;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}
li {
    text-decoration: none;
}
h1{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2{
    color: #264143;
    font-size: 50px;
}
h3 {
    color: #f2ebe9;
}
p{
    margin: 0;
}
.button{
    width: 200px;
    height: 40px;
    color: #de5499;
    border: 1px solid #de5499;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    margin-top: 20px;
}
.button:hover {
    background-color: #de5499;
}
a{
    text-decoration: none;
    color:#de5499;
}
.social-media{
    margin-top: 10px;
}
.social{
    margin:20px;
}
.hero {
    background-color: #f2ebe9;
    height: 100vh;
    color: #de5499;
    font-size: 40px;
}
.hero-area{
    display:flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    color:#264143;
    margin-left: 80px;
    margin-bottom: 100px;
}
.skills-container{
    text-align: center;
}
.skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
}
.skills p{
    width: 170px;
    height: 55px;
    font-size: 25px;
    padding-top: 15px;
}
.skills p:hover{
    color: #f2ebe9; 
}

.sub-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px;
}
.info{
    width: 500px;
    margin-right: 40px;
}
.info p{
    font-size: 20px;
}
.sub-section-alternative {
    padding: 80px;
}
.headshot-container{
    width: 300px;
    display: block;
    align-self: flex-end;
}
.headshot {
    max-width: 100%;
    border-radius: 25px;
}
.project-info p{
    font-family: 'Poppins', sans-serif;
    font-weight: 50;
    font-size: 14px;
    color: #264143;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 1.5em;
}
.project-info h1{
    color:#de5499;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
.project-info .button{
    display: block;
    background-color:#de5499;
    color:hsl(0, 0%, 100%);
    font-size: 18px;
    padding-bottom: 5px;
    height: 30px;
    width: 220px;
}
.project-info .button:hover{
    background-color:#a63f73;
    border: none;
    cursor: pointer;
}
#footer-font-color{
    color:#eddcd9;
}
.social-media-bottom{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.hamburger {
    display: none;
}
.hamburger:focus{
    outline: 0;
}
@media only screen and (max-width: 800px){
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color:#e99f4c;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    ul{
        display: none;
        background-color: #eddcd9;
        margin: 0px;
    }
    ul.show {
        display: block;
    }
    ul.show li{
        padding: 10px;
        font-size: 25px;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #eddcd9;
    }
    .social-media{
        display: none;
    }
    .project-card{
        width: 335px;
        height: 600px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    .project-image{
        width: 335px;
        display: block;
    }
    #desktop-img{
        display: none;
    }
    #mobile-img{
        max-width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .project-info{
        padding-left: 20px;
        padding-right: 20px;
    }
    .sub-section{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .headshot-container{
        margin-top: 40px;
        align-self: center;
    }
    .info{
        width: 400px;
    }
    .skills{
        width: 400px;
    }
    .project-info .button{
        margin-left: 35px;
    }
}



@media only screen and (min-width: 801px){
    .project-card{
        width: 550px;
        height: 400px;
        display: flex;
        margin: auto;
        margin-top: 30px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
    }
    .project-image{
        width: 270px;
        height: 400px;
    }
    #desktop-img{
        max-height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    #mobile-img{
        display: none;
    }
    .project-info{
        width: 240px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }



}

