<!-- footer begins -->
<footer>
  <!-- wrapper begins -->
  <div class="wrapper">
    <div class="flexContent">
      <div class="footer-left">
        <a class="main-logo">
          <img
            routerLink="/"
            (click)="goToHomePageTop()"
            src="assets/favicon.png"
            alt="Ashley's initials icon"
          />
        </a>

        <!-- footer nav begins -->
        <nav class="footerNav">
          <ul>
            <li><a routerLink="/" (click)="goToHomePageTop()">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="work">Work</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
        </nav>
        <!-- footer nav ends -->
      </div>
      <div>
        <!-- social icons begins -->
        <ul class="socialIcons">
          <li>
            <a
              href="https://www.linkedin.com/in/ashleymshakir/"
              target="_blank"
              aria-label="View LinkedIn page"
              ><i aria-hidden="true" class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/ashleyshakir"
              target="_blank"
              aria-label="View GitHub page"
              ><i aria-hidden="true" class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/ashleyshakir3/"
              target="_blank"
              aria-label="View Instagram page"
              ><i aria-hidden="true" class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
        <!-- social icons end -->
      </div>
    </div>
  </div>
  <!-- wrapper ends -->
</footer>
<!-- footer ends -->
