<!-- about me section header begins -->
<header id="about">
  <div class="img-content" data-aos="fade-right" data-aos-duration="1000">
    <img
      class="headshot"
      src="./assets/grey_headshot.png"
      alt="Ashley's headshot"
    />
  </div>
  <div class="text-content" data-aos="fade-left" data-aos-duration="1000">
    <h1>Hi, I'm Ashley!</h1>
    <p>
      I approach software development with a unique perspective, influenced by
      both my personal experiences and the ever-evolving tech landscape. I
      appreciate life's simpler moments — like a sunny day or a morning coffee —
      these moments paired with the complexity of code and the endless
      possibilities of technology truly drive me. Challenges in the digital
      realm? They're opportunities in disguise. Each obstacle prompts me to dive
      deep into my technical toolkit, ensuring I emerge with efficient and
      inventive solutions.
    </p>
    <p>
      Having earned a bachelor's degree in Computer Science from Coker
      University, I possess a robust foundation in the field, coupled with
      hands-on training from General Assembly's Full Stack Java Development
      Immersive Bootcamp, I'm well-equipped to handle a diverse range of
      software projects. My expertise bridges the gap between intricate backend
      logic and intuitive front-end experiences. Ready to collaborate and bring
      innovative solutions to life? Reach out and
      <a routerLink="/contact">let's start the conversation!</a>
    </p>
  </div>
</header>
<!-- header ends -->
<!-- skills section begins  -->
<section class="skillsSection" data-aos="fade-up" data-aos-duration="1500">
  <!-- wrapper begins -->
  <div class="wrapper">
    <h2>My skills</h2>
    <ul class="skills">
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>DOM</li>
      <li>AJAX</li>
      <li>Angular</li>
      <li>Typescript</li>
      <li>Java</li>
      <li>Spring Boot</li>
      <li>REST APIs</li>
      <li>OOD</li>
      <li>SQL</li>
      <li>TDD</li>
      <li>BDD</li>
      <li>JUnit</li>
      <li>Cucumber</li>
      <li>MockMVC</li>
      <li>GitHub</li>
      <li>Agile</li>
      <li>Scrum</li>
    </ul>
  </div>
  <!-- wrapper ends -->
</section>
<!-- skills section ends  -->

