.text-content{
    width: 45%;
    padding-left: 90px;
  }
h1{
    font-size: 4rem;
    position: relative;
    left: -10%;
    margin-bottom: 15px;
}
header .img-content{
    width: 40%;
}
header {
    justify-content: flex-start;
}
a{
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  a:hover {
    color: #8c6a02; /* Color on hover */
  }
  .skillsSection {
    padding: 100px 0;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
  }
  
  .skillsSection .wrapper {
    width: 65%;
  }
  .skillsSection h2 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .skills {
    columns: 4;
    column-gap: 80px;
  }
  .skills li {
    margin-bottom: 20px;
    break-inside: avoid;
    background-color: #F4EBE9;
    color: #2C2C2C;
    text-align: center;
    width: 135px;
    border-radius: 4px;
    font-size: 1.1rem;
    padding: 10px;
    list-style-type: none;
  }
  @media (max-width: 840px) {
    header .img-content {
      width: 50%;
    }
    header .text-content {
      width: 60%;
      margin-left: 5%;
    }
    .skills {
      columns: 3;
      column-gap: 80px;
    }
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1rem;
    }
  }
  @media (max-width: 740px) {
    header .img-content {
      width: 65%;
    }
    header .text-content {
      width: 90%;
      padding-left: 40px;
      padding-right: 50px;
    }

    .skills {
      columns: 2;
      column-gap: 80px;
    }


  }
  @media (max-width: 600px) {
    header .img-content {
      width: 100%;
    }
    .skillsSection h2 {
      font-size: 3rem;
      margin-left: 0;
    }
    .skillsSection{
      justify-content: flex-start;
      margin-left: 50px;
    }
    .skills li {
      font-size: 1rem;
      width: 110px;
      border-radius: 4px;
    }
  }

  @media (max-width: 400px) {
    .skills li {
      width: 90px;
    }
  }