h1 {
    font-size: 3rem;
    padding: 20px 0 30px;
    margin: 0;
    line-height: 1.2;
    margin-left: 10%;
  }
.projectPage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
.project-card{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.project-card a {
    transition: all 0.5s ease;
    display: inline-block;
    padding: 25px;
  }
  
  .project-card a:hover, .project-card a:focus {
    transform: scale(0.95);
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  a:hover {
    color: #8c6a02; /* Color on hover */
  }
  @media (max-width: 840px) {
    h1 {
      font-size: 3.5rem;
    }
    .projectPage{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .project-card{
      margin-bottom: 40px;
    }
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 4rem;
    }
  }



 