<body>
  <section class="projectPage photoFiestaApp">
    <header>
      <div class="text-content" data-aos="fade-right" data-aos-duration="1000">
        <h2>Java | Spring Boot | Rest Assured</h2>
        <h1>Photo Fiesta</h1>
        <p>
          This project embodies both the techincal and soft skills gained
          throughout my development journey. In collaboration with two
          developers, our mission was to create an innovative backend
          application for streamlined photo management. Our approach prioritized
          the end user, with meticulous crafting of user stories and acceptance
          criteria. We embraced branch-based collaboration to maintain a
          cohesive, conflict-free codebase. Ensuring top-notch code quality, we
          integrated Cucumber testing, covering public and protected endpoints,
          rigorous token testing, and robust unit testing. <br />
          <br />
          Our RESTful API empowers Photo Fiesta users to securely create
          accounts and manage photos using a JWT-based authentication system.
          Once logged in, users can seamlessly add, update, or delete photos
          within albums, as well as explore their collections.
        </p>
        <div class="links">
          <a
            class="link"
            target="_blank"
            href="https://github.com/ashleyshakir/photomanagementapp.git"
            >View code</a
          >
        </div>
      </div>
      <div
        class="img-content"
        id="photo-fiesta"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <img src="./assets/photofiesta.png" alt="Photo Fiesta logo" />
      </div>
    </header>
    <!-- header ends -->
    <!-- main begins -->
    <main>
      <!-- mockup section begins -->
      <section class="mockups">
        <!-- wrapper begins -->
        <div class="wrapper endpoints">
          <ul>
            <li data-aos="fade-up" data-aos-duration="1000">
              <img
                src="./assets/photo-fiesta-endpoints.png"
                alt="Photo Fiesta logo"
              />
            </li>
          </ul>
        </div>
        <!-- wrapper ends -->
      </section>
      <!-- mockup section ends -->
    </main>
  </section>
  <section class="projectPage ticTacToeApp">
    <!-- header begins -->
    <header>
      <div class="text-content" data-aos="fade-right" data-aos-duration="1000">
        <h2>Javascript | HTML | CSS</h2>
        <h1>Tic Tac Toe Game</h1>
        <p>
          This project was a pivotal milestone in my General Assembly bootcamp
          journey. It entailed the creation of a web application entirely from
          scratch, utilizing HTML, CSS, and Vanilla JavaScript. The primary
          objective was to implement game logic, resulting in a dynamic and
          engaging two-player Tic Tac Toe game for local play. <br />
          <br />
          In addition to the core game functionality, I introduced several
          enhancements to elevate the user experience. Notable features include
          a leaderboard that meticulously tracks player names and win counts.
          This data is persistently stored in local storage, ensuring continuity
          across sessions. To further captivate users, I incorporated modern
          sound and color effects.
        </p>
        <div class="links">
          <a
            class="link"
            target="_blank"
            href="https://ashleyshakir.github.io/tic-tac-toe/"
            >View live</a
          >
          <a
            class="link"
            target="_blank"
            href="https://github.com/ashleyshakir/tic-tac-toe.git"
            >View code</a
          >
        </div>
      </div>
      <div class="img-content" data-aos="fade-left" data-aos-duration="1000">
        <img
          src="./assets/laptop-ttt.png"
          alt="Tic tac toe App menu screen on a desktop MacBook screen"
        />
      </div>
    </header>
    <!-- header ends -->
    <!-- main begins -->
    <main>
      <!-- mockup section begins -->
      <section class="mockups">
        <!-- wrapper begins -->
        <div class="wrapper">
          <ul class="gridContainer">
            <li data-aos="fade-up" data-aos-duration="1000">
              <img
                src="./assets/iphone-ttt.png"
                alt="Tic tac toe App gameboard"
              />
            </li>
            <li data-aos="fade-up" data-aos-duration="1000">
              <img
                src="./assets/ipad-ttt.png"
                alt="Tic tac toe App leaderboard"
              />
            </li>
          </ul>
        </div>
        <!-- wrapper ends -->
      </section>
      <!-- mockup section ends -->
    </main>
    <!-- main ends -->
  </section>
  <section class="projectPage teamManagementApi">
    <!-- header begins -->
    <header>
      <div class="text-content" data-aos="fade-right" data-aos-duration="1000">
        <h2>Java | Spring Boot | Spring Security</h2>
        <h1>Team Management</h1>
        <p>
          Introducing the Team Management Web Application - a robust monolithic
          backend powered by Spring Boot. This dynamic system boasts a RESTful
          API that empowers administrators with the ability to effortlessly
          create and oversee youth sports teams. From user registration to team
          creation, coach assignments, and player additions. <br />
          <br />
          My goal with this project was to simplify team management, providing
          coaches and team managers with a user-friendly tool, while also
          ensuring that players can easily access their team information and
          coaches. What makes this project stand out? My unwavering commitment
          to security. I prioritize the privacy of team members: players,
          coaches, and managers. With advanced Spring Security and fortified
          JSON Web Tokens, your data is securely protected.
        </p>
        <div class="links">
          <a
            class="link"
            target="_blank"
            href="https://github.com/ashleyshakir/team_management.git"
            >View code</a
          >
        </div>
      </div>
      <div class="img-content" data-aos="fade-left" data-aos-duration="1000">
        <img
          src="./assets/team-management.png"
          alt="Team Management API logo"
        />
      </div>
    </header>
    <!-- header ends -->
    <!-- main begins -->
    <main>
      <!-- mockup section begins -->
      <section class="mockups">
        <!-- wrapper begins -->
        <div class="wrapper endpoints">
          <ul>
            <li data-aos="fade-up" data-aos-duration="1000">
              <img
                src="./assets/team-management-endpoints.png"
                alt="Team Management Endpoints"
              />
            </li>
          </ul>
        </div>
        <!-- wrapper ends -->
      </section>
      <!-- mockup section ends -->
    </main>
    <!-- main ends -->
  </section>
</body>
