.text-content{
    width: 43%;
    padding-right: 20px;
  }
  header .img-content{
    width: 45%;
}
h1{
    font-size: 4.5rem;
    position: relative;
    left: -35%;
    margin-bottom: 15px;
  }
h2 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }

.mainQuote{
    padding: 80px 0;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  a:hover {
    color: #8c6a02; /* Color on hover */
  }
  .projects {
    text-align: center;
    padding-bottom: 80px;
  }
  .projects h2 {
    padding-bottom: 40px;
  }
  
  .project-wrapper{
    display: flex;
    justify-content: center;
  }
  .projectLinks a {
    margin-bottom: 20px;
    break-inside: avoid;
    transition: all 0.5s ease;
    display: inline-block;
  }
  .projectLinks a:hover, .projectLinks a:focus {
    transform: scale(0.95);
    cursor: pointer;
  }
  .projectLinks img{
    max-width: 300px;
    padding: 15px;
  }

  .seeResume {
    text-align: center;
    padding: 100px 0;
    margin-bottom: 100px;
    background-color: #F4EBE9;
  }
  .seeResume h3 {
    padding-bottom: 20px;
  }
