<!-- header begins -->
<header>
  <div class="img-content" data-aos="fade-right" data-aos-duration="1000">
    <!-- photo credited to Zwaddi from Unsplash -->
    <img
      src="assets/sunshine.png"
      alt="Morning sun illuminates a garden, showing off the beauty of nature's glow"
    />
  </div>
  <div class="text-content" data-aos="fade-left" data-aos-duration="1000">
    <h1>Ashley Shakir</h1>
    <h2>Full Stack Developer</h2>
  </div>
</header>
<!-- header ends -->

<!-- quote section begins -->
<section class="mainQuote">
  <!-- wrapper begins -->
  <div class="wrapper">
    <h3>Infusing Life's Joys into Every Line of Code</h3>
    <a routerLink="/about" class="link">Learn more</a>
  </div>
  <!-- wrapper ends -->
</section>
<!-- quote section ends -->
<!-- projects section begins -->
<section class="projects" id="work">
  <!-- wrapper begins -->
  <div class="wrapper">
    <h2>My Recent Work</h2>
    <ul class="projectLinks" data-aos="fade-up" data-aos-duration="800">
      <li>
        <a href="./ticTacToe.html"
          ><img
            src="./assets/tic-tac-toe-project.png"
            alt="Tic tace toe game shown on both iphone and mac book screens"
        /></a>
      </li>
      <!-- <li>
              <a href="./brandon.html"
                ><img
                  src="./assets/cropped2.png"
                  alt="Choose your own riddle-culous adventure game logo"
              /></a>
            </li> -->
      <li>
        <a href="./photofiesta.html"
          ><img src="./assets/photofiesta.png" alt="Photo Fiesta logo"
        /></a>
      </li>
      <li>
        <a href="./teammanagement.html"
          ><img
            src="./assets/team-management.png"
            alt="Team Management RESTful API app"
        /></a>
      </li>
    </ul>
  </div>
  <!-- wrapper ends -->
</section>
<!-- projects section ends -->
<!-- resume section begins -->
<section class="seeResume">
  <!-- wrapper begins -->
  <div class="wrapper">
    <h3>Check out my resume!</h3>
    <a
      href="https://drive.google.com/file/d/1PLjQ9EVaa52cJlZevGkSsVtEmbQwkHkd/view?usp=sharing"
      target="_blank"
      class="link"
      >click here</a
    >
  </div>
  <!-- wrapper ends -->
</section>
<!-- resume section ends -->
